:root {
  --rds-elevation-shadow-xs: 0px 1px 4px 0px #0000001F;
  --rds-elevation-shadow-sm: 0px 4px 8px 0px #00000029;
  --rds-elevation-shadow-md: 0px 6px 12px 0px #00000033;
  --rds-elevation-shadow-lg: 0px 8px 16px 0px #0000003D;
  --rds-elevation-shadow-xl: 0px 12px 20px 0px #00000047;
  --rds-spacing-xs: 4px;
  --rds-spacing-sm: 8px;
  --rds-spacing-md: 12px;
  --rds-spacing-lg: 16px;
  --rds-spacing-xl: 20px;
  --rds-spacing-2xl: 24px;
  --rds-spacing-3xl: 28px;
  --rds-spacing-4xl: 32px;
  --rds-spacing-5xl: 36px;
  --rds-spacing-6xl: 40px;
  --rds-spacing-7xl: 44px;
  --rds-spacing-8xl: 48px;
  --rds-radius-sm: 2px;
  --rds-radius-md: 4px;
  --rds-radius-lg: 6px;
  --rds-radius-xl: 8px;
  --rds-color-light-textIcon-primary: #161513;
  --rds-color-light-textIcon-secondary: #161513B2;
  --rds-color-light-textIcon-disabled: #16151366;
  --rds-color-light-textIcon-inverse: #FFFFFF;
  --rds-color-light-textIcon-onColor: #FFFFFF;
  --rds-color-light-textIcon-link: #00688C;
  --rds-color-light-textIcon-success: #436B1D;
  --rds-color-light-textIcon-info: #00688C;
  --rds-color-light-textIcon-warning: #8F520A;
  --rds-color-light-textIcon-danger: #B3311F;
  --rds-color-light-border-enabled: #16151380;
  --rds-color-light-border-disabled: #16151333;
  --rds-color-light-border-divider: #1615131F;
  --rds-color-light-border-selected: #227E9E;
  --rds-color-light-border-dropLine: #227E9E;
  --rds-color-light-border-selectedNeutral: #161513;
  --rds-color-light-border-warning: #8F520A;
  --rds-color-light-border-danger: #B3311F;
  --rds-color-light-border-keyboardFocus: #161513;
  --rds-color-light-overlay-hover: #16151314;
  --rds-color-light-overlay-inverseHover: #FFFFFF14;
  --rds-color-light-overlay-active: #16151329;
  --rds-color-light-overlay-inverseActive: #FFFFFF1F;
  --rds-color-light-overlay-hoverDanger: #FF9D903D;
  --rds-color-light-overlay-activeDanger: #FF9D9052;
  --rds-color-light-overlay-scrim: #16151366;
  --rds-color-light-surface-neutral0: #FFFFFF;
  --rds-color-light-surface-neutral10: #FBF9F8;
  --rds-color-light-surface-neutral20: #F5F4F2;
  --rds-color-light-surface-neutral30: #F1EFED;
  --rds-color-light-surface-selected: #E4F1F7;
  --rds-color-light-surface-disabled: #1615130A;
  --rds-color-light-surface-popup: #FFFFFF;
  --rds-color-light-surface-skeleton: #D4CFCA33;
  --rds-color-light-surface-neutral-low: #FBF9F8;
  --rds-color-light-surface-neutral-subtle: #16151314;
  --rds-color-light-surface-neutral-strong: #7A736E;
  --rds-color-light-surface-success-low: #F4FCEB;
  --rds-color-light-surface-success-strong: #436B1D;
  --rds-color-light-surface-info-low: #F6FAFC;
  --rds-color-light-surface-info-subtle: #8FBFD066;
  --rds-color-light-surface-info-strong: #00688C;
  --rds-color-light-surface-warning-low: #FEF9F2;
  --rds-color-light-surface-warning-subtle: #F0A95766;
  --rds-color-light-surface-warning-strong: #8F520A;
  --rds-color-light-surface-danger-low: #FFF8F7;
  --rds-color-light-surface-danger-subtle: #FF9D9066;
  --rds-color-light-surface-danger-strong: #B3311F;
  --rds-color-light-boxshadow-shadowColor: #000000;
  --rds-color-light-pageBackground-neutral0: #FFFFFF;
  --rds-color-light-pageBackground-neutral10: #FBF9F8;
  --rds-color-light-pageBackground-neutral20: #F5F4F2;
  --rds-color-light-pageBackground-neutral30: #F1EFED;
  --rds-color-light-pageBackground-neutral40: #E4E1DD;
  --rds-color-light-button-cta-surface: #312D2A;
  --rds-color-light-button-cta-contrast: #FFFFFF;
  --rds-color-light-button-solid-surface: #16151314;
  --rds-color-light-button-solid-contrast: #161513;
  --rds-color-light-button-outline-border: #16151380;
  --rds-color-light-button-outline-contrast: #161513;
  --rds-color-light-button-borderless-contrast: #161513;
  --rds-color-light-button-danger-surface: #B3311F;
  --rds-color-light-button-danger-contrast: #FFFFFF;
  --rds-color-light-textfield-surface-enabled: #FFFFFF;
  --rds-color-light-textfield-border-enabled: #16151380;
  --rds-color-light-collection-header-text: #161513;
  --rds-color-light-collection-header-surface-selected: #1615131F;
  --rds-color-light-collection-header-surface-partialSelected: #1615130A;
  --rds-color-light-collectionGrid-header-surface: #161513;
  --rds-color-light-collectionGrid-cell-surface: #161513;
  --rds-color-light-collectionGrid-cell-surfaceEdit: #FFFFFF;
  --rds-color-light-dvt-paletteQualitative-1: #245D63;
  --rds-color-light-dvt-paletteQualitative-2: #D7790F;
  --rds-color-light-dvt-paletteQualitative-3: #31A09C;
  --rds-color-light-dvt-paletteQualitative-4: #4E4137;
  --rds-color-light-dvt-paletteQualitative-5: #699E61;
  --rds-color-light-dvt-paletteQualitative-6: #B47282;
  --rds-color-light-dvt-paletteQualitative-7: #83401E;
  --rds-color-light-dvt-paletteQualitative-8: #9E7FCC;
  --rds-color-light-dvt-paletteQualitative-9: #A88E00;
  --rds-color-light-dvt-paletteQualitative-10: #58316E;
  --rds-color-light-dvt-paletteQualitative-11: #5999B5;
  --rds-color-light-dvt-paletteQualitative-12: #317A45;
  --rds-color-light-dvt-threshold-success: #508223;
  --rds-color-light-dvt-threshold-warning: #CF7C00;
  --rds-color-light-dvt-threshold-danger: #D63B25;
  --rds-color-light-neutralExtended-neutral130: #5C5651;
  --rds-color-light-neutralExtended-neutral140: #514C47;
  --rds-color-light-neutralExtended-neutral150: #47423E;
  --rds-color-light-neutralExtended-neutral160: #3A3632;
  --rds-color-light-neutralExtended-neutral170: #312D2A;
  --rds-color-dark-button-cta-surface: #FFFFFF;
  --rds-color-dark-button-cta-textIcon: #000000;
}